{erl_opts, [debug_info, 
            nowarn_export_all]}.

{deps, [
    {ibrowse, ".*", {git, "git://github.com/cmullaparthi/ibrowse.git", "HEAD"}},
    {amqp_client, ".*", {git, "https://github.com/jbrisbin/amqp_client.git", "HEAD"}},
    {erlexec, ".*", {git, "https://github.com/saleyn/erlexec.git", {branch, "master"}}}
]}.

{shell, [{apps, [thumper]}]}.
